<div class="container mt-4 p-3">
  <div class="border border-secondary bg-white p-3">
    <div class="row">
      <div class="col-auto">
        <div class="border rounded">
          {{#if profile.image}}
          <img src="{{profile.image}}" alt="" style="width:300px;height:300px">
          {{else}}
          <img src="https://img.icons8.com/ios/100/000000/guest-male-filled.png" alt=""
            style="width:300px;height:300px">
          {{/if}}
        </div>
      </div>
      <div class="col-auto">
        <h4 class="py-2">{{profile.name}}</h4>

        <p class="py-1">{{profile.email}}</p>

        {{#ifCond profile.id user.id}}
        <a href="/users/{{profile.id}}/edit">
          <button class="btn btn-primary">edit</button>
          {{/ifCond}}
        </a>
      </div>
    </div>
  </div>

  {{!-- 評論區 --}}
  <div class="card my-5">
    <div class="card-header">
      已撰寫 <span class="text-success"> {{commentNum}} </span> 則評論，評論過 <span class="text-success">
        {{commentRestaurantNum}} </span> 間餐廳
    </div>

    {{#each profile.Comments}}
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-3">
          <div>
            <img src="{{this.Restaurant.imageUrl}}" class="card-img" alt="餐廳圖片" style="width:250px;height:150px">
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title mb-5">{{this.text}}</h5>
            <p class="card-text">
              <a href="/restaurants/{{this.Restaurant.id}}">
                {{this.Restaurant.name}} 餐廳 </a> <small class="text-muted"> － {{moment this.createdAt}}</small>

            </p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>